<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chimeil.mapper.ShoppingCartMapper">

    <sql id="cartItemCondition">
        user_id = #{userId}
        <choose>
            <when test="dishId != null">
                and dish_id = #{dishId}
                and setmeal_id is null
            </when>
            <when test="setmealId != null">
                and setmeal_id = #{setmealId}
                and dish_id is null
            </when>
            <otherwise>
                and 1 = 0
            </otherwise>
        </choose>
        <if test="dishFlavor != null and dishFlavor != ''">
            and dish_flavor = #{dishFlavor}
        </if>
        <if test="dishFlavor == null or dishFlavor == ''">
            and (dish_flavor is null or dish_flavor = '')
        </if>
    </sql>

    <select id="list" resultType="com.chimeil.entity.ShoppingCart">
        select * from shopping_cart
        <where>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="setmealId != null">
                and setmeal_id = #{setmealId}
            </if>
            <if test="dishId != null">
                and dish_id = #{dishId}
            </if>
            <if test="(dishId != null or setmealId != null) and dishFlavor != null and dishFlavor != ''">
                and dish_flavor = #{dishFlavor}
            </if>
            <if test="(dishId != null or setmealId != null) and (dishFlavor == null or dishFlavor == '')">
                and (dish_flavor is null or dish_flavor = '')
            </if>
        </where>
    </select>

    <update id="decreaseNumber">
        update shopping_cart
        set number = number - 1
        where
        <include refid="cartItemCondition"/>
        and number &gt; 1
    </update>

    <delete id="deleteOneIfNumberEqualsOne">
        delete from shopping_cart
        where
        <include refid="cartItemCondition"/>
        and number = 1
    </delete>

    <insert id="insertBatch" parameterType="list">
        insert into shopping_cart (name, image, user_id, dish_id, setmeal_id, dish_flavor, number, amount, create_time)
        values
        <foreach collection="shoppingCartList" item="sc" separator=",">
            (#{sc.name},#{sc.image},#{sc.userId},#{sc.dishId},#{sc.setmealId},#{sc.dishFlavor},#{sc.number},#{sc.amount},#{sc.createTime})
        </foreach>
        on duplicate key update number = number + values(number)
    </insert>
</mapper>
